.item {
  display: flex;
  width: 300px;
  align-items: center;
  padding: 10px;

  margin: 15px auto;
  border-radius: 5px;

  background-color: #ffffff;

  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.online {
  background-color: #036907;
  margin: 0 15px;

  display: inline-block;

  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.offline {
  background-color: #f71808;
  margin: 0 15px;

  display: inline-block;

  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.name {
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
}
